extends base

block content
    header.articles-header
        span.title= header
    form(action="/article/add", method="post")
        .field
            label.label Title
            .control
                input.input(type="text", name="title", autocomplete="off", autofocus)
        .field
            label.label Body
            .control
                textarea.textarea(name="body")
        button.button.is-dark.is-fullwidth(type="submit") Post Article