doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Article Express
        link(rel="shortcut icon", href="/favicon.png", type="image/png")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
        link(rel="stylesheet", href="/css/app.css")
        script(src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js")
    body
        nav.navbar.is-transparent.is-spaced
            .container
                .navbar-brand
                    a.navbar-item(href="/")
                        img(src="/images/article-express.png", alt="ArticleExpress", srcset="/images/article-express.png")
                    .navbar-burger(data-target="navbarMenu")
                    a.navbar-item.is-hidden-desktop(href="/search")
                        span.icon
                            ion-icon(name="search", size="large")
                    if user
                        a.navbar-item.is-hidden-desktop(href="/article/add")
                            span.icon
                                ion-icon(name="create", size="large")
                        a.navbar-item.is-hidden-desktop= user.username
                        a.navbar-item.is-hidden-desktop(href="/auth/logout") 
                            button.button.is-dark.is-outlined Logout
                    else
                        a.navbar-item.is-hidden-desktop(href="/auth/login") Login
                        a.navbar-item.is-hidden-desktop(href="/auth/register")
                            button.button.is-dark.is-outlined Register
                #navbarMenu.navbar-menu
                    .navbar-end
                        a.navbar-item.is-hidden-mobile(href="/search")
                            span.icon
                                ion-icon(name="search", size="large")
                        if user
                            a.navbar-item.is-hidden-mobile(href="/article/add")
                                span.icon
                                    ion-icon(name="create", size="large")
                            a.navbar-item.is-hidden-mobile= user.username
                            a.navbar-item.is-hidden-mobile(href="/auth/logout") 
                                button.button.is-dark.is-outlined Logout
                        else
                            a.navbar-item.is-hidden-mobile(href="/auth/login") Login
                            a.navbar-item.is-hidden-mobile(href="/auth/register")
                                button.button.is-dark.is-outlined Register

        section.section
            .container
                != messages("utils/message", locals)
                if errors
                    each error, i in errors
                        .notification.is-danger= error.msg
                            button.delete
                block content

        footer.footer
            .container
                p Copyright &copy; Article Express 2018
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/js/app.js")