doctype html
html
    head
        title 404 - Article Express
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    body
        section.hero.is-dark.is-fullheight
            .hero-body
                .container
                    h1.title 404
                    h2.subtitle Page Not Found